<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}"/>
</head>
<body>
    <header>
        <h1>Biblioteca</h1>
        <a href="/deslogar/">Logout</a>
    </header>
    <article>
        <h1>Bem-Vindo</h1>
        <form action="{% url 'pesquisa' %}" method="POST" id="frm_pesquisa">
             {% csrf_token %}
            <div id="pesquisa">
                <input type="text" name="txt_pesquisa" id="txt_pesquisa"/>
                <button type="submit" name="pesquisar" id="pesquisar"></button>
            </div>
        </form>
        <table id="consulta">
            <tr id="cabeça"><td>id</td> <td>nome</td> <td>autor</td> <td>genero</td> <td>ano</td> <td>quantidade</td>
            <td>Editar</td></tr>
            {% for linha in linhas %}
                <tr>
                    <td>{{ linha.id }}</td><td>{{ linha.nome }}</td> <td>{{ linha.autor }}</td> <td>{{ linha.genero }}</td>
                    <td>{{ linha.ano }}</td> <td>{{ linha.quantidade }}</td> <td><a href="{% url 'editarlivro' value=linha.id %}">Editar</a></td>
                </tr>
            {% endfor %}

        </table>
    </article>
    <aside>
        <nav>
            <ul>
                <li><a href="/"><span>Início</span></a></li>
                <li><a href="/emprestimo/"><span>Realizar Empréstimo</span></a></li>
                <li><a href="/devolucao/"><span>Registrar Devolução</span></a></li>
                <li><a href="/novo-aluno/"><span>Cadastrar Aluno</span></a></li>
                <li><a href="/novo-livro/"><span>Cadastrar Livro</span></a></li>
                <li><a href="/consultar-alunos/"><span>Consultar Alunos</span></a></li>
                <li><a href="/alunos-bloqueados/"><span>Alunos Bloqueados</span></a></li>
            </ul>
        </nav>
    </aside>
</body>
</html>